<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Foodex</title>
  </head>
  <body>
    <a href="#restaurant-wrapper" class="skip-link">Skip to content</a>
    <header id="header">
      <section id="header-wrapper">
        <my-brand></my-brand>
        <nav id="navigations"></nav>
        <button id="hamburger">
          <img src="/images/hamburger/hamburger.svg" alt="hamburger button">
        </button>
        <nav id="nav-drawer" class="hide">
          <button id="close-drawer">
            <img src="/images/hamburger/close.svg" alt="close drawer button">
          </button>
        </nav>
      </section>
    </header>
    <main id="main">
      <section id="hero-wrapper">
        <img
          id="hero-image"
          src="/images/hero/hero-image.jpg"
          alt="hero image"
        />
      </section>
      <section id="restaurant-wrapper">
        <my-header title="Explore Restaurant"></my-header>
        <div id="restaurant-list-wrapper">
          <!-- list all restaurants here -->
        </div>
      </section>
      <section id="categories-wrapper">
        <my-header title="Find your favorite categories"></my-header>
        <div id="categories-list-wrapper">
          <!-- list all categories here -->
        </div>
      </section>
    </main>
    <footer id="footer">
      <my-footer></my-footer>
    </footer>
  </body>
</html>
