<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodex</title>
    <link rel="manifest" href="/app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-128.png">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <a class="skip-content" href="#main-wrapper">Go to main</a>
    <my-loader></my-loader>
    <header id="header">
      <div class="root-wrapper" id="header-wrapper">
        <my-brand></my-brand>
        <my-navigations></my-navigations>
        <button tabindex="0" id="hamburger" aria-label="Hamburger Button">
          <img src="/images/menu.svg" alt="menu hamburger"/>
        </button>
      </div>
    </header>
    <main id="main" tabindex="0">
      <div class="root-wrapper" id="main-wrapper"></div>
    </main>
    <footer id="footer">
      <div
        class="root-wrapper"
        tabindex="0"
        aria-label="footer"
        id="footer-wrapper"
      >
        <my-footer></my-footer>
      </div>
    </footer>
  </body>
</html>
