@use "variables" as var
@use "mixin" as mix

#main
  @include mix.doFlexBox(start, center, column)
  gap: 32px
  padding: 12px

  #hero-wrapper
    max-width: 1000px
    width: 100%
    @include mix.doFlexBox()

    #hero-image
      width: 100%
      border-radius: 20px
      @media (min-width: var.$desktop)
        width: 1000px

  #restaurant-wrapper
    max-width: 1000px
    width: 100%
    gap: 16px
    @include mix.doFlexBox(start, stretch, column)

    .section-header
      @include mix.doFlexBox()
      .section-header-text
        font-size: 1rem
        color: var.$primary
        @include mix.smoothTransition()
        @media (min-width: var.$tablet)
          font-size: 1.2rem

    #restaurant-list-wrapper
      display: grid
      gap: 16px
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))

      .restaurant-card
        border: 1px solid var.$border
        border-radius: 16px
        overflow: hidden
        @include mix.doFlexBox(start, stretch, column)

        .restaurant-card-image
          position: relative
          overflow: hidden

          .restaurant-location
            position: absolute
            left: 0
            top: 0
            background-color: var.$primary
            color: var.$border
            margin: 16px
            font-weight: bold
            padding: 4px 8px
            border-radius: 999em
            font-size: .8rem

          img
            width: 100%
            aspect-ratio: 16/9
            object-fit: cover

        .restaurant-card-desc
          padding: 16px
          @include mix.doFlexBox(start, stretch, column)
          gap: 2px

          .restaurant-food-rating
            font-size: .9rem
            color: var.$dark
            @include mix.doFlexBox(start)
            gap: 2px
            font-weight: bold

            img
              width: 16px

          .restaurant-food-name
            color: var.$primary
            font-size: 1.1rem

          .restaurant-food-desc
            font-size: .9rem
            color: var.$muted-foreground
            overflow: hidden
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 3

  #categories-wrapper
    max-width: 1000px
    width: 100%
    gap: 16px
    @include mix.doFlexBox(start, stretch, column)

    .section-header
      @include mix.doFlexBox()
      .section-header-text
        font-size: 1rem
        color: var.$primary
        @include mix.smoothTransition()
        @media (min-width: var.$tablet)
          font-size: 1.2rem


    #categories-list-wrapper
      display: grid
      gap: 16px
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))

      .category-card
        border: 1px solid var.$border
        border-radius: 16px
        overflow: hidden
        padding: 12px
        background-size: cover
        background-position: center
        @include mix.doFlexBox(start, stretch, column)

        .category-title
          color: var.$primary
          font-size: 1.1rem

        .category-desc
          font-size: .9rem
          color: var.$muted-foreground
          overflow: hidden
          display: -webkit-box
          -webkit-box-orient: vertical
          -webkit-line-clamp: 2